@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
}

.active{
  @apply pb-2 border-b-1 border-[#49557e]
}
.pointer{
  @apply cursor-pointer
}
